p {
    color:green;
}

#para1 {
    text-align: center;
    color: red;

}

/*This is to test*/
.class1 {
    text-align: center;
    color: orange;
}

p.class1 {
    text-align: left;
    color: rgb(83, 83, 110);
}

body {
    background-color: rgb(38, 196, 205);
  }